/** @format */
/*
* FONTS TO BE USED
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
/*
* FONT VARIABLES
*/
/*
* COLORS -- NAVY BLUE THEME
*/
/*
* EFFECTS
*/
/*
* HELPERS
*/
/*
* MARGINS
*/
/*///
* GENERA SPAGE-ETUP
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #64ffda;
  line-height: 1.6;
  font-size: 1.8rem;
  background-color: #0a192f;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.page__layout {
  width: 100vw;
  display: grid;
  grid-template-columns: [left-start] 1fr [left-end main-start] minmax(min-content, 90vw) [main-end right-start] 1fr [right-end];
  grid-template-rows: [head-start] 1fr [head-end cont-start] minmax(auto-fit, max-content) [cont-end foot-start] 1fr [foot-end]; }
  @media only screen and (max-width: 50em) {
    .page__layout {
      grid-template-columns: [main-start] minmax(min-content, 90vw) [main-end]; } }
  @media only screen and (max-width: 37.5em) {
    .page__layout {
      grid-template-columns: [main-start] minmax(min-content, 90vw) [main-end]; } }

section {
  margin: 0px auto;
  padding: 10rem 0px;
  max-width: 100%; }
  @media only screen and (max-width: 50em) {
    section {
      margin: 0; } }
  @media only screen and (max-width: 37.5em) {
    section {
      margin: 0; } }

.left {
  grid-column: left-start / left-end;
  grid-row: 2 / 4; }
  @media only screen and (max-width: 37.5em) {
    .left {
      display: none; } }

.right {
  grid-column: main-end / right-end;
  grid-row: -3 / -1; }
  @media only screen and (max-width: 37.5em) {
    .right {
      display: none; } }

.content {
  grid-column: main-start / main-end;
  grid-row: 2 / 4;
  width: 99vw;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .content {
      margin: auto;
      padding: 0;
      align-items: center; } }

.base {
  width: fit-content; }

.content.hidden {
  display: none; }

button {
  appearance: auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: inherit;
  border: 1px solid #64ffda;
  color: #64ffda;
  opacity: 0.8; }
  button:hover {
    cursor: pointer;
    opacity: 1; }

.header__btn {
  padding: 0.7rem 1.5rem;
  border: 1px solid #64ffda;
  font: "Roboto Mono", "Roboto";
  cursor: pointer; }

.modal__btn {
  margin-top: 3rem;
  font-size: 2.5rem;
  padding: 1rem 3rem; }

.home__btn {
  margin-top: 2.5rem;
  font-size: 1.8rem;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  font-family: "Roboto Mono", "Roboto";
  transition: all 0.6s;
  font-weight: 400;
  border: 1px solid #64ffda;
  align-self: start;
  justify-self: start; }
  .home__btn a {
    color: #64ffda;
    text-decoration: none; }
  @media only screen and (max-width: 50em) {
    .home__btn {
      margin-top: 5rem;
      font-size: 3rem;
      padding: 2.5rem 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .home__btn {
      font-size: 2rem;
      padding: 2rem 3rem; } }
  .home__btn:hover {
    transform: scale(0.9); }

.more_btn {
  margin-top: 3.5rem;
  font-size: 1.8rem;
  padding: 1.5rem 2.5rem; }

/** @format */
.right {
  padding: 5px;
  width: 4rem;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 4rem;
  z-index: 9;
  color: #a8b2d1;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .right {
      display: none; } }
  @media only screen and (max-width: 62.5em) {
    .right {
      display: none; } }

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-box-align: center;
  padding: 0;
  margin: 0; }
  .email a {
    padding: 0.7rem;
    margin: 0.5rem auto;
    letter-spacing: 0.4em;
    writing-mode: vertical-rl;
    font-size: 1.4rem; }
  .email::after {
    content: "";
    display: block;
    width: 0.5px;
    height: 17rem;
    margin: 0 auto;
    background-color: #a8b2d1; }

.mail {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: #ccd6f6;
  position: relative; }
  .mail:hover {
    color: #64ffda; }

.left {
  padding: 5px;
  width: 4rem;
  position: fixed;
  bottom: 0;
  right: auto;
  left: 4rem;
  z-index: 9;
  color: #a8b2d1;
  display: flex;
  align-items: center;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .left {
      display: none; } }
  @media only screen and (max-width: 62.5em) {
    .left {
      display: none; } }

.side__social {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-align: center; }
  .side__social--item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .side__social::after {
    content: "";
    display: block;
    width: 0.5px;
    height: 17rem;
    margin: 1.5rem auto 0 auto;
    align-self: center;
    background-color: #a8b2d1; }

.icon {
  fill: #ccd6f6;
  width: 2rem;
  height: 2rem;
  cursor: pointer; }
  .icon:hover {
    fill: #64ffda; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #ccd6f6;
  line-height: 1.1;
  font-family: "Roboto", "Courier New", Courier, monospace, sans-serif;
  padding: 0.5rem; }

.heading__main {
  padding: 2rem; }
  .heading__main-primary {
    font-weight: 700;
    color: #e6f1ff;
    font-family: "Nunito", sans-serif;
    line-height: 1.1;
    font-size: clamp(6rem, 10vw, 10rem);
    display: block;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 50em) {
      .heading__main-primary {
        font-size: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading__main-primary {
        font-size: 5rem; } }
  .heading__main-secondary {
    color: #8892b0;
    line-height: 0.9;
    font-size: clamp(6rem, 9vw, 8rem);
    display: block;
    font-family: "Nunito", sans-serif;
    font-weight: 700; }
    @media only screen and (max-width: 50em) {
      .heading__main-secondary {
        font-size: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading__main-secondary {
        font-size: 5rem; } }
  .heading__main-tertiary {
    text-align: center;
    color: #64ffda;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-family: "Roboto Mono", "Roboto";
    font-weight: 600; }
    @media only screen and (max-width: 50em) {
      .heading__main-tertiary {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading__main-tertiary {
        font-size: 3rem; } }

.paragraph {
  margin-block-start: 1em;
  font-size: 1.8rem;
  color: #8892b0;
  line-height: 1.3;
  font-family: "Roboto", "Courier New", Courier, monospace, sans-serif;
  text-align: justify; }
  .paragraph__link:visited, .paragraph__link:active {
    text-decoration: none;
    color: #64ffda; }
    .paragraph__link:visited span, .paragraph__link:active span {
      margin-left: 3px;
      transition: margin-left 0.2s; }
  .paragraph__link:hover, .paragraph__link:active {
    border-radius: 3px; }
    .paragraph__link:hover span, .paragraph__link:active span {
      margin-left: 8px; }
  .paragraph a {
    text-decoration: none;
    color: #64ffda;
    font-family: "Roboto", "Courier New", Courier, monospace, sans-serif;
    font-weight: 500; }
  @media only screen and (max-width: 50em) {
    .paragraph {
      max-width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      max-width: 100%;
      font-size: 2rem;
      line-height: 1.5; } }

.heading__number {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  font-size: clamp(3rem, 5vw, 3rem);
  white-space: nowrap;
  color: #e6f1ff; }
  .heading__number::before {
    display: block;
    top: 0;
    position: relative;
    bottom: 4px;
    content: "";
    color: #64ffda;
    font-family: "Roboto", "Courier New", Courier, monospace, sans-serif;
    font-size: clamp(3rem, 5vw, 3rem);
    font-weight: 400; }
  .heading__number::after {
    content: "";
    display: block;
    position: relative;
    top: 2px;
    width: 30rem;
    height: 1px;
    margin-left: 2rem;
    opacity: 0.3;
    background-color: #a8b2d1; }
  @media only screen and (max-width: 62.5em) {
    .heading__number {
      font-size: clamp(4rem, 5vw, 4rem);
      margin: 0;
      max-width: 95%; } }
  @media only screen and (max-width: 50em) {
    .heading__number {
      font-size: 5rem;
      margin-bottom: 3.5rem; }
      .heading__number::after {
        width: 15rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading__number {
      font-size: 3.5rem;
      margin-bottom: 3.5rem; }
      .heading__number::after {
        width: 15rem; } }

.modal__nav {
  height: 70vh;
  width: 100vw;
  background-color: rgba(10, 25, 47, 0.2);
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal__nav::before {
    visibility: hidden; }
  .modal__nav--list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: moveInRight 1.2s ease-out;
    margin-bottom: 2rem; }
  .modal__nav--link {
    display: flex;
    color: #e6f1ff;
    font-size: 3rem;
    text-decoration: none; }
  .modal__nav--item {
    list-style: none;
    font-size: 2.5rem;
    margin-bottom: 2rem; }
    .modal__nav--item span {
      margin-right: 1rem;
      color: #64ffda;
      font-family: "Roboto Mono", "Roboto";
      font-size: 1.3rem;
      display: flex;
      align-items: center; }

.modal--link:link, .modal--link:visited {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  color: #e6f1ff; }

.modal .hidden {
  display: none;
  opacity: 0; }

.modal__nav .hidden {
  display: none;
  opacity: 0; }

.header {
  grid-area: head-start / left-start / head-end / right-end;
  width: 100vw;
  z-index: 9;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 10rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  .header__logo-box {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animation: moveInLeft 1.2s ease-out;
    display: flex;
    align-items: center; }
    .header__logo-box .logo {
      width: 4rem;
      height: 4rem; }
  .header__nav {
    align-self: center; }
    .header__nav--list {
      display: flex;
      align-items: center;
      animation: moveInRight 1.2s ease-out; }
    .header__nav--item {
      list-style: none;
      font-size: 1.7rem; }
      .header__nav--item span {
        margin-right: 0.4rem;
        color: #64ffda;
        font-family: "Roboto Mono", "Roboto";
        font-size: 1.3rem;
        display: flex;
        align-items: center; }
    .header__nav--link:link, .header__nav--link:visited {
      text-decoration: none;
      display: block;
      padding: 0.5rem 1.5rem;
      color: #e6f1ff;
      display: flex; }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-column: main-start / main-end;
      z-index: 10;
      grid-row: 1 / 2;
      transition: all 0.4s;
      position: fixed;
      background-color: inherit;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
      padding: 1.5rem 1rem; }
      .header__logo-box {
        display: none;
        padding-left: 1rem;
        animation: moveInLeft 1.2s ease-out;
        position: relative; }
        .header__logo-box--logo {
          width: 5rem;
          height: 5rem; }
      .header__nav--list {
        display: none; }
      .header__nav {
        display: flex;
        padding-right: 1rem;
        animation: moveInRight 1.2s ease-out;
        margin-left: auto; }
        .header__nav:before {
          content: "";
          display: inline-block;
          height: 5rem;
          width: 5rem;
          cursor: pointer; }
          @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            .header__nav:before {
              background-color: #64ffda;
              -webkit-mask-image: url("../img/menu.svg");
              -webkit-mask-size: cover;
              mask-image: url("../img/menu.svg");
              mask-size: cover; } } }

.home {
  width: 70%;
  max-width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .home__text {
    max-width: 50rem;
    font-weight: 300; }
  .home__start {
    padding-left: 1rem;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-family: "Roboto Mono", "Roboto"; }
    @media only screen and (max-width: 37.5em) {
      .home__start {
        margin-bottom: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .home {
      margin: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2.5rem;
      max-width: 100%;
      width: 100%;
      height: 90vh;
      min-height: 100vh; } }

.about {
  width: 70%;
  max-width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .about span {
    color: #64ffda;
    font-family: "Roboto Mono", "Roboto";
    font-size: 2rem;
    padding-right: 1.5rem; }
  .about__info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem; }
    .about__info--text {
      grid-column: 1 / 2; }
      .about__info--text-1 {
        margin-bottom: 0;
        text-align: justify;
        font-size: 1.8rem;
        line-height: 1.4;
        font-weight: 300; }
    .about__info__skill-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.1rem;
      overflow: hidden;
      list-style: none;
      margin: 2rem 0 0;
      font-size: 1.5rem; }
      .about__info__skill-list li::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: 0.7rem; }
        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
          .about__info__skill-list li::before {
            background-color: #64ffda;
            -webkit-mask-image: url("../img/play.svg");
            -webkit-mask-size: cover;
            mask-image: url("../img/play.svg");
            mask-size: cover; } }
    .about__info--photo {
      width: 100%;
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 1rem;
      align-items: center; }
      .about__info--photo--wrapper {
        position: relative;
        width: 100%;
        height: 90%;
        grid-column: 1 / 7;
        grid-row: 1 / 5;
        border-radius: 0.7rem;
        transition: all 0.4s; }
        .about__info--photo--wrapper__gatsby {
          border-radius: 0.7rem;
          overflow: hidden;
          height: 100%;
          width: 100%;
          transition: background-image 0.6s;
          z-index: 2;
          background-image: linear-gradient(to right, rgba(100, 255, 218, 0.4), rgba(100, 255, 218, 0.4)), url("../img/self-1a.jpg");
          background-size: cover; }
          .about__info--photo--wrapper__gatsby:hover {
            cursor: pointer;
            transform: scale(0.9);
            transform: translateY(1.5rem);
            background-image: linear-gradient(to right, rgba(100, 255, 218, 0), rgba(100, 255, 218, 0)), url("../img/self-1a.jpg");
            transition: all 0.4s; }
            .about__info--photo--wrapper__gatsby:hover::after {
              display: none;
              content: "";
              border: none; }
          .about__info--photo--wrapper__gatsby::before, .about__info--photo--wrapper__gatsby::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 1rem; }
          .about__info--photo--wrapper__gatsby:after {
            border: 2px solid #64ffda;
            top: 1rem;
            left: 1rem;
            z-index: -1; }
    @media only screen and (max-width: 37.5em) {
      .about__info {
        grid-template-columns: 1fr; }
        .about__info--photo {
          display: none; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      margin: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2.5rem;
      max-width: 100%;
      width: 100%;
      height: 90vh;
      min-height: 100vh; }
      .about__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .about__info--text-1 {
          text-align: justify;
          font-size: 2rem;
          line-height: 1.5; }
        .about__info__skill-list {
          font-size: 1.8rem; } }

.experience {
  width: 70%;
  max-width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .experience span {
    color: #64ffda;
    font-family: "Roboto Mono", "Roboto";
    font-size: 2rem;
    padding-right: 1.5rem; }
  .experience .paragraph {
    margin-bottom: 0;
    text-align: justify;
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    max-width: 65rem; }
  .experience__head {
    justify-content: flex-start;
    border-radius: 0.5rem;
    margin-bottom: 3rem; }
    .experience__head--text {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      font-size: clamp(4rem, 6vw, 4rem);
      white-space: nowrap;
      color: #e6f1ff; }
    .experience__head-paragraph {
      font-size: 1.8rem;
      font-weight: 300;
      text-align: justify; }
  .experience__lists {
    color: #fff;
    display: flex;
    flex-direction: column; }
    .experience__lists--topics .btn {
      margin-right: 1rem; }
      .experience__lists--topics .btn h3 {
        color: #64ffda;
        font-family: "Roboto Mono", "Roboto";
        font-size: 1.3rem; }
      .experience__lists--topics .btn:hover {
        cursor: pointer;
        border: 1px solid #8892b0; }
        .experience__lists--topics .btn:hover h3 {
          cursor: pointer;
          color: #64ffda; }
    .experience__lists--topics .btn-1 {
      margin-right: 1rem;
      border: 1px solid #8892b0; }
      .experience__lists--topics .btn-1 h3 {
        color: #8892b0;
        font-family: "Roboto Mono", "Roboto";
        font-size: 1.3rem; }
      .experience__lists--topics .btn-1:hover {
        cursor: pointer;
        border: 1px solid #8892b0; }
        .experience__lists--topics .btn-1:hover h3 {
          cursor: pointer;
          color: #8892b0; }
    .experience__lists--details__icon {
      width: 10rem;
      height: 10rem;
      fill: rgba(100, 255, 218, 0.3); }
      @media only screen and (max-width: 50em) {
        .experience__lists--details__icon {
          margin-top: 2rem;
          width: 8rem;
          height: 8rem;
          fill: #64ffda;
          stroke-width: 15rem;
          margin-bottom: 2.5rem; } }
  .experience__icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .experience__icon {
    width: 10rem;
    height: 10rem;
    fill: rgba(100, 255, 218, 0.3);
    margin: 0; }
    @media only screen and (max-width: 50em) {
      .experience__icon {
        margin-top: 2rem;
        width: 8rem;
        height: 8rem;
        fill: #64ffda;
        stroke-width: 15rem;
        margin-bottom: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .experience {
      margin: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2.5rem;
      max-width: 100%;
      width: 100%;
      height: 90vh;
      min-height: 100vh; }
      .experience .paragraph {
        margin-bottom: 2.5rem;
        font-size: 2rem;
        font-weight: 300; }
      .experience__lists--topics {
        display: grid;
        grid-template-columns: repeat(3, 1fr); }
      .experience__lists--details__icon {
        margin-bottom: 0; } }

.operations__content {
  display: none; }

.operations__content--active {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 15rem 1fr;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(100, 255, 218, 0.1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  max-width: 80%; }
  .operations__content--active .info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: flex-start;
    padding: 0 2rem; }
    .operations__content--active .info-b {
      margin-bottom: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem; }
      .operations__content--active .info-b .item__lists-tools {
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
      .operations__content--active .info-b-extra {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-self: flex-start; }
        .operations__content--active .info-b-extra ul {
          align-items: flex-start; }
          .operations__content--active .info-b-extra ul li {
            font-size: 1.5rem;
            list-style: none;
            color: #8892b0; }
            .operations__content--active .info-b-extra ul li::before {
              content: "\290D";
              color: #64ffda; }
              @media only screen and (max-width: 37.5em) {
                .operations__content--active .info-b-extra ul li::before {
                  display: none; } }
        .operations__content--active .info-b-extra h4 {
          text-align: left;
          padding: 0;
          display: flex;
          font-size: 1.7rem;
          font-family: "Roboto Mono", "Roboto"; }
      .operations__content--active .info-b-tools ul {
        align-items: flex-start; }
        .operations__content--active .info-b-tools ul li {
          font-size: 1.5rem;
          list-style: none;
          color: #8892b0; }
          .operations__content--active .info-b-tools ul li::before {
            content: "\290D";
            color: #64ffda; }
            @media only screen and (max-width: 37.5em) {
              .operations__content--active .info-b-tools ul li::before {
                display: none; } }
      .operations__content--active .info-b-tools h4 {
        text-align: left;
        padding: 0;
        display: flex;
        font-size: 1.7rem;
        font-family: "Roboto Mono", "Roboto"; }
  @media only screen and (max-width: 37.5em) {
    .operations__content--active {
      display: flex;
      flex-direction: column;
      max-width: 100%; } }

@media only screen and (max-width: 37.5em) {
  .operations {
    margin: 0;
    padding: 0; } }

.operations__icon.operations__icon--1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.projects {
  width: 70%;
  max-width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .projects span {
    color: #64ffda;
    font-family: "Roboto Mono", "Roboto";
    font-size: 2rem;
    padding-right: 1.5rem; }
  .projects a {
    display: inline-blesock;
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto; }
  .projects-container {
    max-width: 1000px;
    margin: 50px auto; }
    @media only screen and (max-width: 37.5em) {
      .projects-container {
        margin: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2.5rem;
        max-width: 100%;
        width: 100%;
        height: 90vh;
        min-height: 100vh; } }
    .projects-container span {
      color: #64ffda;
      font-family: "Roboto Mono", "Roboto";
      font-size: 2rem;
      padding-right: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .projects {
      max-width: 100%;
      width: 100%;
      margin-top: 20rem; } }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none; }

svg {
  width: 100%;
  height: 100%; }

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle; }

.project__right {
  margin: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 50em) {
    .project__right {
      margin: 0 0 4rem 0; } }
  .project__right-img {
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: -1;
    background-color: #64ffda;
    background: linear-gradient(0.4turn, #64ffda, #64ff8d);
    border-radius: 2px;
    grid-column: 1 / 8;
    grid-row: 1 / -1;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.3); }
    .project__right-img:hover {
      background: none;
      cursor: pointer; }
    @media screen and (max-width: 37.5em) {
      .project__right-img {
        height: 95%; } }
    @media (max-width: 600px) {
      .project__right-img {
        grid-column: 1 / -1;
        opacity: 0.25; } }
    .project__right-img:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background-color: #0a192f;
      mix-blend-mode: screen;
      border-radius: 2px; }
    .project__right-img img {
      border-radius: 2px;
      position: relative;
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1); }
      @media screen and (max-width: 50em) {
        .project__right-img img {
          object-fit: cover;
          width: auto;
          height: 100%; } }
      .project__right-img img:hover {
        background: none;
        cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .project__right-container {
      margin: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2.5rem;
      max-width: 100%;
      width: 100%;
      height: 90vh;
      min-height: 100vh; } }
  .project__right-container h2 {
    margin-bottom: 5rem; }
  .project__right-label {
    color: #64ffda;
    font-family: "Roboto Mono", "Roboto";
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 600px) {
      .project__right-label {
        justify-content: flex-start; } }
  .project__right-title {
    font-size: 3rem;
    margin: 1rem 0 1rem;
    padding: 0;
    font-family: "Roboto", "Courier New", Courier, monospace, sans-serif;
    color: #eee;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 600px) {
      .project__right-title {
        justify-content: flex-start; } }
  .project__right-links-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #e6f1ff; }
  .project__right-details {
    font-size: 15px;
    line-height: 1.5;
    color: #aaa; }
    .project__right-details p {
      border: 1px solid rgba(136, 146, 176, 0.1);
      background-color: #112240;
      padding: 20px 25px;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
      border-radius: 0.3rem;
      font-weight: 300;
      text-align: justify; }
      @media (max-width: 600px) {
        .project__right-details p {
          background-color: transparent;
          padding: 20px; } }
    .project__right-details ul {
      display: flex;
      margin-top: 20px;
      justify-content: flex-end; }
      @media (max-width: 600px) {
        .project__right-details ul {
          justify-content: flex-start; } }
      .project__right-details ul li {
        margin-right: 20px;
        color: #aaa;
        font-size: 1.3rem;
        font-family: "Roboto Mono", "Roboto"; }
  .project__right-content {
    position: relative;
    grid-column: 7 / 13;
    grid-row: 1 / -1; }
    @media (max-width: 600px) {
      .project__right-content {
        grid-column: 1 / -1;
        padding: 2rem; } }
  @media screen and (max-width: 50em) {
    .project__right {
      align-items: flex-start; } }

.project__left {
  margin: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 50em) {
    .project__left {
      margin: 0 0 4rem 0; } }
  .project__left-img {
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: -1;
    background-color: #64ffda;
    background: linear-gradient(0.4turn, #64ffda, #64ff8d);
    border-radius: 2px;
    grid-column: 6 / -1;
    grid-row: 1 / -1;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.3); }
    @media screen and (max-width: 50em) {
      .project__left-img {
        height: 95%; } }
    @media (max-width: 600px) {
      .project__left-img {
        grid-column: 1 / -1;
        opacity: 0.25; } }
    .project__left-img:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background-color: #0a192f;
      mix-blend-mode: screen;
      border-radius: 2px; }
    .project__left-img img {
      border-radius: 2px;
      position: relative;
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1); }
      @media screen and (max-width: 37.5em) {
        .project__left-img img {
          object-fit: cover;
          width: auto;
          height: 100%; } }
  .project__left-container h2 {
    margin-bottom: 5rem; }
  .project__left-label {
    color: #64ffda;
    font-family: "Roboto Mono", "Roboto";
    font-size: 1.2rem; }
  .project__left-title {
    font-size: 3rem;
    margin: 1rem 0 1rem;
    padding: 0;
    font-family: "Roboto", "Courier New", Courier, monospace, sans-serif;
    color: #eee; }
  .project__left-links-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #e6f1ff; }
  .project__left-details {
    font-size: 15px;
    line-height: 1.5;
    color: #aaa; }
    .project__left-details p {
      border: 1px solid rgba(136, 146, 176, 0.1);
      background-color: #112240;
      padding: 20px 25px;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
      border-radius: 0.3rem;
      font-weight: 300;
      text-align: justify; }
      @media (max-width: 600px) {
        .project__left-details p {
          background-color: transparent;
          padding: 20px; } }
    .project__left-details ul {
      display: flex;
      margin-top: 20px; }
      .project__left-details ul li {
        margin-right: 20px;
        color: #aaa;
        font-size: 1.3rem;
        font-family: "Roboto Mono", "Roboto"; }
  .project__left-content {
    position: relative;
    grid-column: 1 / 7;
    grid-row: 1 / -1; }
    @media (max-width: 600px) {
      .project__left-content {
        grid-column: 1 / -1;
        padding: 2rem; } }
  @media screen and (max-width: 50em) {
    .project__left {
      align-items: flex-start; } }

@media only screen and (max-width: 37.5em) {
  .project-container {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5rem;
    max-width: 100%;
    width: 100%;
    height: 90vh;
    min-height: 100vh;
    margin-top: 40rem; } }

.project__lists {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  max-width: 1000px;
  margin: 50px auto; }
  .project__lists-header {
    margin-bottom: 1.5rem; }
    .project__lists-header span {
      color: #64ffda;
      font-family: "Roboto Mono", "Roboto";
      font-size: 2rem;
      padding-right: 1.5rem; }
  .project__lists p {
    padding: 1rem; }
  .project__lists-archive {
    color: #64ffda;
    font-family: "Roboto Mono", "Roboto";
    font-size: 1.5rem; }
  .project__lists--items {
    list-style: none;
    padding: 0px;
    margin: 5rem 0px 0px;
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    gap: 1.5rem;
    position: relative; }
    .project__lists--items .item__inner {
      box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      height: 100%;
      padding: 2rem 1.75rem;
      border-radius: 5px;
      background-color: #112240;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .project__lists--items .item__inner:hover {
        cursor: pointer;
        transform: translateY(-1rem); }
      .project__lists--items .item__inner-top {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 3.5rem; }
        .project__lists--items .item__inner-top--folder {
          height: 100%;
          width: 100%;
          padding-left: 1rem; }
          .project__lists--items .item__inner-top--folder .icon {
            width: 2.5rem;
            height: 2.5rem;
            fill: #64ffda; }
        .project__lists--items .item__inner-top--links .icon {
          width: 2rem;
          height: 2rem;
          fill: #a8b2d1; }
      .project__lists--items .item__inner-title {
        margin: 0px 0px 3rem;
        color: #ccd6f6;
        font-size: 2.2rem;
        font-weight: 600;
        font-family: "Roboto", "Courier New", Courier, monospace, sans-serif; }
      .project__lists--items .item__inner-description {
        color: #a8b2d1;
        font-size: 1.7rem;
        line-height: 1.3;
        font-weight: 300;
        text-align: left; }
      .project__lists--items .item__inner--tech-list {
        display: flex;
        align-items: flex-end;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        color: rgba(168, 178, 209, 0.6);
        margin: 20px 0px 0px;
        list-style: none;
        font-size: 1.2rem;
        font-family: "Roboto Mono", "Roboto"; }
        .project__lists--items .item__inner--tech-list li:not(:last-of-type) {
          margin-right: 15px; }
      .project__lists--items .item__inner header {
        display: block; }
      .project__lists--items .item__inner footer {
        display: block;
        list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .project__lists--items {
        display: grid;
        grid-template-columns: minmax(10rem, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .project__lists {
      min-height: 100vh;
      margin-top: 60rem;
      padding: 0 2.5rem;
      max-width: 100%; } }

.contact {
  max-width: 60rem;
  margin: 0px auto 100px;
  text-align: center; }
  .contact--head span {
    color: #64ffda;
    font-family: "Roboto Mono", "Roboto";
    font-size: 2rem;
    padding-right: 1.5rem; }
  .contact .heading__number::after {
    opacity: 0; }
  .contact .overline {
    display: block;
    margin-bottom: 20px;
    color: #64ffda;
    font-family: "Roboto Mono", "Roboto";
    font-size: 2rem;
    font-weight: 400; }
  .contact__title {
    font-size: clamp(4rem, 5vw, 6rem); }
  .contact__info {
    font-size: 1.7rem;
    color: #8892b0;
    font-weight: 300; }
  .contact__email-link {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 0.5rem;
    padding: 1.25rem 1.75rem;
    font-size: 1.5rem;
    font-family: "Roboto Mono", "Roboto";
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: 50px;
    text-align: center; }
  .contact a {
    display: inline-block;
    position: relative; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      margin: 20rem 0 25rem 0;
      padding: 0 2.5rem;
      max-width: 100%;
      width: 100%; }
      .contact__info {
        text-align: justify;
        font-size: 2rem;
        font-weight: 300; }
      .contact a {
        align-self: center;
        font-size: 2rem;
        padding: 2rem; } }

.footer {
  width: 99vw;
  grid-column: left-start / right-end;
  grid-row: 4 / 5;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center; }
  .footer .info,
  .footer .github-stats {
    color: rgba(168, 178, 209, 0.6); }
  .footer__box {
    font-family: "Roboto Mono", "Roboto";
    font-size: 1.2rem;
    line-height: 1; }
    .footer__box a {
      list-style: none;
      text-decoration: none; }
    .footer__box:hover .info,
    .footer__box:hover .github-stats {
      color: #64ffda; }
      .footer__box:hover .info svg,
      .footer__box:hover .github-stats svg {
        fill: #64ffda; }
      .footer__box:hover .info > span .icon,
      .footer__box:hover .github-stats > span .icon {
        fill: #64ffda; }
  .footer .github-stats {
    margin-top: 1rem; }
    .footer .github-stats > span {
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      margin: 0px 0.7rem; }
    .footer .github-stats svg {
      display: inline-block;
      margin-right: 0.5rem;
      width: 1.4rem;
      height: 1.4rem;
      fill: rgba(168, 178, 209, 0.6); }
  @media only screen and (max-width: 37.5em) {
    .footer {
      grid-column: main-start / main-end;
      grid-row: 3 / 4; } }
