@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,400&family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 100%; }

body {
  font-family: "Nunito", sans-serif;
  color: #64ffda;
  font-weight: 300;
  line-height: 1.6;
  background-color: #0a192f;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.warning {
  font-size: "Roboto Mono", "Roboto";
  color: red;
  text-align: center;
  font-size: 1rem; }

.heading__main {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px); }
  .heading__main-primary {
    font-weight: 700;
    color: #e6f1ff;
    font-family: "Nunito", sans-serif;
    line-height: 1.1;
    font-size: clamp(40px, 8vw, 80px);
    display: block;
    margin-bottom: 1rem; }
  .heading__main-secondary {
    color: #8892b0;
    line-height: 0.9;
    font-size: clamp(40px, 8vw, 80px);
    display: block;
    font-family: "Nunito", sans-serif;
    margin-bottom: 1rem;
    font-weight: 700; }

.paragraph {
  margin: 20px 0px 0px;
  max-width: 540px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.5rem;
  color: #8892b0;
  font-family: "Roboto Mono", "Roboto";
  margin-bottom: 4rem; }
  .paragraph__link:visited, .paragraph__link:active {
    text-decoration: none;
    color: #64ffda; }
    .paragraph__link:visited span, .paragraph__link:active span {
      margin-left: 3px;
      transition: margin-left 0.2s; }
  .paragraph__link:hover, .paragraph__link:active {
    border-radius: 3px; }
    .paragraph__link:hover span, .paragraph__link:active span {
      margin-left: 8px; }
  .paragraph a {
    text-decoration: none;
    color: #64ffda;
    font-family: "Roboto Mono", "Roboto";
    font-weight: 500; }

svg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  fill: none; }

.hidden {
  display: none; }

.header__btn {
  padding: 0.8rem 1rem;
  border: 1px solid #64ffda;
  background-color: inherit;
  border-radius: 5px;
  color: #64ffda;
  cursor: pointer; }

.header {
  padding: 1rem 10rem 0.5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  .header__logo-box {
    width: 10%;
    height: 10%;
    margin-right: auto; }
    .header__logo-box--logo {
      width: 20%;
      height: 20%; }
  .header__nav {
    display: flex; }
    .header__nav--list {
      display: flex;
      align-items: center;
      justify-content: center; }
    .header__nav--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.3rem; }
      .header__nav--item span {
        margin-right: 0.4rem;
        color: #64ffda;
        font-family: "Roboto Mono", sans-serif; }
    .header__nav--link:link, .header__nav--link:visited {
      text-decoration: none;
      text-transform: capitalize;
      display: block;
      padding: 0.5rem 1.5rem;
      color: #e6f1ff;
      display: flex;
      align-items: center; }

.right {
  width: 4rem;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 4rem;
  z-index: 9;
  color: #a8b2d1;
  overflow: hidden;
  grid-column: 3 / 4; }
  @media only screen and (max-width: 600px) {
    .right {
      display: none; } }

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-box-align: center;
  padding: 0;
  margin: 0; }
  .email a {
    padding: 0.7rem;
    margin: 0.5rem auto;
    letter-spacing: 0.4em;
    writing-mode: vertical-rl;
    font-size: 1.1rem; }
  .email::after {
    content: "";
    display: block;
    width: 0.5px;
    height: 20rem;
    margin: 0 auto;
    background-color: #a8b2d1; }

.mail {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: #a8b2d1;
  position: relative; }

.left {
  width: 4rem;
  position: fixed;
  bottom: 0;
  right: auto;
  left: 4rem;
  z-index: 9;
  color: #a8b2d1;
  display: flex;
  align-items: center;
  overflow: hidden;
  grid-column: 1 / 2; }
  @media only screen and (max-width: 600px) {
    .left {
      display: none; } }

.side__social {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-align: center; }
  .side__social--item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .side__social::after {
    content: "";
    display: block;
    width: 0.5px;
    height: 20rem;
    margin: 1.5rem auto 0 auto;
    align-self: center;
    background-color: #a8b2d1; }

.icon {
  fill: #8892b0;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer; }

.logo__container {
  width: max-content;
  max-width: 100px;
  align-items: center;
  margin: 45vh auto; }

.intro {
  transition: all 0.3s;
  position: relative; }
  .intro__container {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: 0.1s;
    z-index: 9999; }

.main {
  display: grid;
  grid-template-columns: 5vw minmax(80vw, 1fr) 5vw;
  grid-gap: 5rem;
  align-items: center; }

.content {
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-column: 2/3;
  padding: 10rem auto; }

.right {
  grid-column: 3 / 4; }

.home {
  max-width: 80%;
  min-height: 90vh;
  padding: 0 auto;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: grid;
  grid-template-columns: minmax(max-content, min-content);
  align-content: center;
  justify-items: start;
  margin-bottom: 4rem; }
  .home__start {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-family: "Roboto Mono", "Roboto"; }
  .home__btn {
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    font-family: "Roboto Mono", "Roboto"; }

.about {
  min-height: 80vh;
  max-width: 80%;
  display: grid;
  grid-template-columns: minmax(max-content, min-content);
  align-content: center;
  justify-items: start; }

.heading__number {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(3rem, 5vw, 3.2rem);
  white-space: nowrap;
  color: #e6f1ff; }
  .heading__number::before {
    display: block;
    top: 0;
    position: relative;
    bottom: 4px;
    content: "01.";
    margin-right: 10px;
    color: #64ffda;
    font-family: "Roboto Mono", "Roboto";
    font-size: clamp(2rem, 3vw, 2.5rem);
    font-weight: 400; }
  .heading__number::after {
    content: "";
    display: block;
    position: relative;
    top: 2px;
    width: 300px;
    height: 1px;
    margin-left: 2rem;
    opacity: 0.3;
    background-color: #a8b2d1; }

.info {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 5rem; }
  .info img[alt=""],
  .info img:not([alt]) {
    filter: blur(5px); }
  .info p {
    margin-bottom: 2rem; }
  .info__text {
    color: #8892b0;
    font-size: 1.3rem; }
  .info__photo--wrapper {
    width: 100%;
    border-radius: 0.7rem;
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: block;
    position: relative; }
    .info__photo--wrapper::before, .info__photo--wrapper::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .info__photo--wrapper::before {
      top: 0px;
      left: 0px;
      background-color: #0a192f;
      mix-blend-mode: screen; }
    .info__photo--wrapper__gatsby {
      overflow: hidden; }
    .info__photo--wrapper__gatsby,
    .info__photo--wrapper .img {
      width: 100%;
      max-width: 100%;
      vertical-align: middle;
      border-radius: 0.7rem; }
      .info__photo--wrapper__gatsby-constrained,
      .info__photo--wrapper .img-constrained {
        display: inline-block; }
      .info__photo--wrapper__gatsby img,
      .info__photo--wrapper .img img {
        bottom: 0;
        height: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 100%;
        object-fit: cover; }
      .info__photo--wrapper__gatsby::before, .info__photo--wrapper__gatsby::after,
      .info__photo--wrapper .img::before,
      .info__photo--wrapper .img::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0.4rem;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .info__photo--wrapper__gatsby:after,
      .info__photo--wrapper .img:after {
        border: 2px solid #64ffda;
        top: 20px;
        left: 20px;
        z-index: -1; }
  .info__skill-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1rem;
    padding: 0;
    overflow: hidden;
    list-style: none;
    margin: 2rem 0 0; }
    .info__skill-list li::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .info__skill-list li::before {
          background-color: #64ffda;
          -webkit-mask-image: url("../../img/play.svg");
          -webkit-mask-size: cover;
          mask-image: url("../../img/play.svg");
          mask-size: cover; } }
