@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,400&family=Roboto:wght@100;300;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 100%; }

body {
  font-family: "Nunito", sans-serif;
  color: #64ffda;
  font-weight: 300;
  line-height: 1.6;
  background-color: #0a192f;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.logo__container {
  width: max-content;
  max-width: 100px;
  align-items: center;
  margin: 45vh auto; }

.intro {
  transition: all 0.3s;
  position: relative; }
  .intro__container {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: 0.1s;
    z-index: 9999; }

.main {
  display: grid;
  grid-template-columns: 5vw 90vw 5vw;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem; }

.content {
  grid-column: 2/3;
  padding: 4rem; }

.left {
  grid-column: 1 / 2; }

.right {
  grid-column: 3 / 4; }

svg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  fill: none; }

.hidden {
  display: none; }

.header__btn {
  padding: 0.8rem 1rem;
  border: 1px solid #64ffda;
  background-color: inherit;
  border-radius: 5px;
  color: #64ffda;
  cursor: pointer; }

.header {
  padding: 1rem 10rem 0.5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  .header__logo-box {
    width: 10%;
    height: 10%;
    margin-right: auto; }
    .header__logo-box--logo {
      width: 20%;
      height: 20%; }
  .header__nav {
    display: flex; }
    .header__nav--list {
      display: flex;
      align-items: center;
      justify-content: center; }
    .header__nav--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.3rem; }
      .header__nav--item span {
        margin-right: 0.4rem;
        color: #64ffda;
        font-family: "Roboto Mono", sans-serif; }
    .header__nav--link:link, .header__nav--link:visited {
      text-decoration: none;
      text-transform: capitalize;
      display: block;
      padding: 0.5rem 1.5rem;
      color: #e6f1ff;
      display: flex;
      align-items: center; }

.right {
  width: 4rem;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 4rem;
  z-index: 9;
  color: #a8b2d1; }

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-box-align: center; }
  .email a {
    padding: 0.7rem;
    margin: 0.5rem auto;
    letter-spacing: 0.4em;
    writing-mode: vertical-rl;
    font-size: 1.1rem; }
  .email::after {
    content: "";
    display: block;
    width: 1px;
    height: 20rem;
    margin: 0 auto;
    background-color: #a8b2d1; }

.mail {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: #a8b2d1;
  position: relative; }

.left {
  width: 40px;
  position: fixed;
  bottom: 0;
  right: auto;
  left: 4rem;
  z-index: 9;
  color: #a8b2d1;
  display: flex;
  align-items: center; }

.side__social {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-align: center; }
  .side__social--item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .side__social::after {
    content: "";
    display: block;
    width: 1px;
    height: 20rem;
    margin: 1.5rem auto 0 auto;
    align-self: center;
    background-color: #a8b2d1; }

.icon {
  fill: #8892b0;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer; }
