@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,400&family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,600&display=swap");
// COLOR VARIABLES
$color-primary: #0a192f;
$color-secondary: #64ffda;
$slate: #8892b0;
$light-slate: #a8b2d1;
$white: #e6f1ff;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-robo: "Roboto Mono", "Roboto";
$font-display: "Josefin Sans", sans-serif;
$font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
// $shadow-effect1: 0 0 2rem rgb(3, 3, 3, 0.8);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

$mb-hg: 8rem;
$mb-bg: 6rem;
$mb-md: 4rem;
$mb-sm: 2rem;
$mb-sl: 1rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px == 62.5 :: 1rem == 10px
    width: 100%;
    height: 100%;
}

body {
    font-family: $font-primary;
    color: $color-secondary;
    font-weight: 300;
    line-height: 1.6;
    background-color: #0a192f;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.warning {
    font-size: $font-robo;
    color: red;
    text-align: center;
    font-size: 1rem;
}
