svg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    fill: none;
}

.hidden {
    display: none;
}

.header__btn {
    padding: 0.8rem 1rem;
    border: 1px solid $color-secondary;
    background-color: inherit;
    border-radius: 5px;
    color: $color-secondary;
    cursor: pointer;
}

.left {
    position: fixed;
    bottom: 0;
    left: auto;
    right: 4rem;
    z-index: 9;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-box-align: center;

    & a {
        padding: 0.7rem;
        margin: 0.5rem auto;
        letter-spacing: 0.4em;
        writing-mode: vertical-rl;
        font-size: 1.1rem;
    }

    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 12rem;
        margin: 0 auto;
        background-color: $slate;
    }
}

.mail {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: $color-secondary;
    position: relative;
}
