.header {
    padding: 1rem 4rem 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow-dark;

    &__logo-box {
        width: 8%;
        height: 8%;
        margin-right: auto;

        &--logo {
            width: 35%;
            height: 35%;
        }
    }

    &__nav {
        display: flex;

        &--list {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.3rem;

            & span {
                margin-right: 0.4rem;
                color: $color-secondary;
                font-family: "Roboto Mono", sans-serif;
            }
        }

        &--link:link,
        &--link:visited {
            text-decoration: none;
            text-transform: capitalize;
            display: block;
            padding: 0.5rem 1.5rem;
            color: $font-color-primary;
            display: flex;
            align-items: center;
        }
    }
}
