.heading__main {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);

    &-primary {
        font-weight: 700;
        color: $white;
        font-family: $font-primary;
        line-height: 1.1;
        font-size: clamp(40px, 8vw, 80px);
        display: block;
        margin-bottom: $mb-sl;
    }

    &-secondary {
        color: $slate;
        line-height: 0.9;
        font-size: clamp(40px, 8vw, 80px);
        display: block;
        font-family: $font-primary;
        margin-bottom: $mb-sl;
        font-weight: 700;
    }
}

.paragraph {
    margin: 20px 0px 0px;
    max-width: 540px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2rem;
    color: $slate;
    margin-bottom: $mb-md;
}
