.heading__main {
    margin: 0;
    font-size: clamp(4rem, 8vw, 8rem);

    &-primary {
        font-weight: 700;
        color: $white;
        font-family: $font-primary;
        line-height: 1.1;
        font-size: clamp(4rem, 8vw, 8rem);
        display: block;
        margin-bottom: $mb-sl;

        @media only screen and (max-width: $bp-small) {
            font-size: clamp(3rem, 7vw, 6rem);
        }
    }

    &-secondary {
        color: $slate;
        line-height: 0.9;
        font-size: clamp(4rem, 8vw, 8rem);
        display: block;
        font-family: $font-primary;
        margin-bottom: $mb-sl;
        font-weight: 700;

        @media only screen and (max-width: $bp-small) {
            font-size: clamp(3rem, 6.5vw, 6rem);
        }
    }
}

.paragraph {
    margin: 20px 0px 0px;
    max-width: 540px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
    color: $slate;
    font-family: $font-robo;
    margin-bottom: $mb-md;

    &__home-text {
        margin-bottom: 1rem;
    }

    &__link:visited,
    &__link:active {
        text-decoration: none;
        color: $color-secondary;

        & span {
            margin-left: 3px;
            transition: margin-left 0.2s;
        }
    }

    &__link:hover,
    &__link:active {
        border-radius: 3px;

        span {
            margin-left: 8px;
        }
    }

    a {
        text-decoration: none;
        color: $color-secondary;
        font-family: $font-robo;
        font-weight: 500;
    }
}
