.left {
    grid-column: left-start / left-end;
    // grid-row: 1 / -4;
}

.right {
    grid-column: main-end / right-end;
    // grid-row: 1 / -4;
}

.content {
    grid-column: main-start / main-end;

    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    justify-content: center;
    max-width: 100%;
}
