.left {
    grid-column: left-start / left-end;
    grid-row: 2 / 4;

    @media only screen and (max-width: $bp-smallest) {
        display: none;
    }
}

.right {
    grid-column: main-end / right-end;
    grid-row: -3 / -1;

    @media only screen and (max-width: $bp-smallest) {
        display: none;
    }
}

.content {
    grid-column: main-start / main-end;
    grid-row: 2 / 4;
    width: 99vw;
    padding: 0 10vw;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest) {
        margin: auto;
        padding: 0;
        align-items: center;
    }
}

.base {
    width: fit-content;
}

.content.hidden {
    display: none;
}
