.page__layout {
    width: 100vw;
    display: grid;

    grid-template-columns:
        [left-start] 1fr [left-end main-start] minmax(min-content, 90vw)
        [main-end right-start] 1fr [right-end];
    grid-template-rows:
        [head-start] 1fr [head-end cont-start] minmax(auto-fit, max-content)
        [cont-end foot-start] 1fr [foot-end];

    @media only screen and (max-width: $bp-largest) {
    }

    @media only screen and (max-width: $bp-large) {
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: [main-start] minmax(min-content, 90vw) [main-end];
    }

    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: [main-start] minmax(min-content, 90vw) [main-end];
    }
}

section {
    margin: 0px auto;
    padding: 10rem 0px;
    max-width: 100%;

    // border: 1px solid red;

    @media only screen and (max-width: $bp-small) {
        margin: 0;
    }

    @media only screen and (max-width: $bp-smallest) {
        margin: 0;
    }
}
