button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.header__btn {
    padding: 0.7rem 1rem;
    border: 1px solid $green;
    background-color: inherit;
    border-radius: 5px;
    color: $green;
    cursor: pointer;
}

.more_btn {
    color: $green;
    background-color: transparent;
    border: 1px solid $green;
    border-radius: 5px;
    font-size: 1.7rem;
    font-family: $font-robo-mono;
    text-decoration: none;
    cursor: pointer;
    transition: $transition;
    padding: 1.35rem 2.75rem;
    margin: 8rem auto 0;
}
