h1,
h2,
h3,
h4,
h5,
h6 {
    // margin: 0px 0px 10px;
    font-weight: 600;
    color: $lightest-slate;
    line-height: 1.1;
    font-family: $font-robo;
    padding: 0.5rem;
}

.heading__main {
    padding: 2rem;

    &-primary {
        font-weight: 700;
        color: $white;
        font-family: $font-primary;
        line-height: 1.1;
        font-size: clamp(6rem, 10vw, 10rem);
        display: block;
        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 8rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 5rem;
        }
    }

    &-secondary {
        color: $slate;
        line-height: 0.9;
        font-size: clamp(6rem, 9vw, 8rem);
        display: block;
        font-family: $font-primary;
        font-weight: 700;

        @media only screen and (max-width: $bp-small) {
            font-size: 8rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 5rem;
        }
    }

    &-tertiary {
        text-align: center;
        color: $green;
        padding-bottom: 1rem;
        font-size: 1.8rem;
        font-family: $font-robo-mono;
        font-weight: 600;

        @media only screen and (max-width: $bp-small) {
            font-size: 5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 3rem;
        }
    }
}

.paragraph {
    // max-width: 70%;
    margin-block-start: 1em;
    font-size: 1.8rem;
    color: $slate;
    line-height: 1.3;
    font-family: $font-robo;
    text-align: justify;

    &__link:visited,
    &__link:active {
        text-decoration: none;
        color: $green;

        & span {
            margin-left: 3px;
            transition: margin-left 0.2s;
        }
    }

    &__link:hover,
    &__link:active {
        border-radius: 3px;

        span {
            margin-left: 8px;
        }
    }

    a {
        text-decoration: none;
        color: $green;
        font-family: $font-robo;
        font-weight: 500;
    }

    @media only screen and (max-width: $bp-small) {
        max-width: 100%;
    }

    @media only screen and (max-width: $bp-smallest) {
        max-width: 100%;
        font-size: 2rem;
        line-height: 1.5;
    }
}

.heading__number {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    font-size: clamp(3rem, 5vw, 3rem);
    white-space: nowrap;
    color: $white;

    &::before {
        display: block;
        top: 0;
        position: relative;
        bottom: 4px;
        content: "";
        color: $green;
        font-family: $font-robo;
        font-size: clamp(3rem, 5vw, 3rem);
        font-weight: 400;
    }

    &::after {
        content: "";
        display: block;
        position: relative;
        top: 2px;
        width: 30rem;
        height: 1px;
        margin-left: 2rem;
        opacity: 0.3;
        background-color: $light-slate;
    }

    @media only screen and (max-width: $bp-largest) {
    }
    @media only screen and (max-width: $bp-large) {
        font-size: clamp(4rem, 5vw, 4rem);
        margin: 0;
        max-width: 95%;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 5rem;
        margin-bottom: 3.5rem;
        &::after {
            width: 15rem;
        }
    }
    @media only screen and (max-width: $bp-smallest) {
        font-size: 3.5rem;
        margin-bottom: 3.5rem;

        &::after {
            width: 15rem;
        }
    }
}
