.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: center;
    position: relative;

    color: $dark_navy;

    // border: 1px solid #fff;

    .paragraph {
        max-width: 65rem;
        text-align: justify;
        font-weight: 400;
    }

    &__head {
        text-align: center;
        padding: 4rem 4rem 1.5rem 4rem;
        border-radius: 0.5rem;
        margin-bottom: 5rem;

        // background-color: rgba($light-navy, 0.3);

        &--text {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            font-size: clamp(4rem, 6vw, 4rem);
            white-space: nowrap;
            color: $white;
        }

        &-paragraph {
            font-size: 1.6rem;
            margin-left: auto;
            margin-right: auto;
            font-weight: 300;
            max-width: 600px;
            text-align: justify;
        }
    }

    &__lists {
        color: #fff;

        display: flex;
        flex-direction: column;

        &--topics {
            padding: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            justify-content: center;
            justify-items: center;

            .btn {
                &:hover {
                    border-bottom: 2px solid $green;
                }
            }
        }

        &--details {
            &__icon {
                @include icon-style;
                margin: 0;
            }
        }
    }

    &__icon-box {
        @include icon-box-style;
        height: 100%;
    }

    &__icon {
        @include icon-style;
        margin: 0;
    }
}

.operations {
    &__content {
        display: none;
    }

    &__tab {
        margin-right: 2.5rem;
        transform: translateY(-50%);

        &--active {
            transform: translateY(-66%);
        }
    }

    &__content--active {
        display: grid;
        grid-template-columns: 20rem 1fr;
        gap: 5rem;
        box-shadow: $shadow-dark;
        border-radius: 0.7rem;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 3rem;

            &-b {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                // gap: 1rem;

                .item__lists-tools {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                &-extra {
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;
                    justify-self: flex-start;

                    & ul {
                        align-items: flex-start;

                        li {
                            &::before {
                                content: "\290D";
                                color: $green;
                            }
                        }
                    }

                    & h4 {
                        text-align: left;
                    }
                }

                &-tools {
                    & ul {
                        align-items: flex-start;

                        li {
                            &::before {
                                content: "\290D";
                                color: $green;
                            }
                        }
                    }

                    h4 {
                        display: flex;
                    }
                }
            }
        }
    }
}
.operations__icon.operations__icon--1 {
    @include icon-box-style;
    height: 100%;
}
