.experience {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: center;
    position: relative;

    color: $dark_navy;

    // border: 1px solid #fff;

    & span {
        @include span-style;
    }

    .paragraph {
        max-width: 65rem;
        text-align: justify;
        font-weight: 400;
    }

    &__head {
        justify-content: flex-start;
        border-radius: 0.5rem;
        margin-bottom: 3rem;

        // background-color: rgba($light-navy, 0.3);

        &--text {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            font-size: clamp(4rem, 6vw, 4rem);
            white-space: nowrap;
            color: $white;
        }

        &-paragraph {
            font-size: 1.8rem;
            font-weight: 300;
            max-width: 600px;
            text-align: justify;
        }
    }

    &__lists {
        color: #fff;

        display: flex;
        flex-direction: column;

        &--topics {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .btn {
                &:hover {
                    border-bottom: 2px solid $green;
                }
                &:active {
                    border-bottom: 2px solid $green;
                }
            }

            &:active {
                border-bottom: 2px solid $green;
            }

            @media only screen and (max-width: $bp-smallest) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }

        &--details {
            &__icon {
                @include icon-style;
                margin: 0;
            }
        }
    }

    &__icon-box {
        @include icon-box-style;
        height: 100%;
    }

    &__icon {
        @include icon-style;
        margin: 0;
    }

    @media only screen and (max-width: $bp-smallest) {
        padding: 5rem;

        .paragraph {
            max-width: 100%;
            text-align: justify;
            font-size: 4rem;
            margin-bottom: 5rem;
        }
    }
}

.operations {
    &__content {
        display: none;
    }

    &__tab {
        margin-right: 2.5rem;
        transform: translateY(-50%);

        &--active {
            transform: translateY(-66%);
        }
    }

    &__content--active {
        display: grid;
        grid-template-columns: 20rem 1fr;
        gap: 5rem;
        box-shadow: $shadow-dark;
        border-radius: 0.7rem;
        background-color: rgba($green, 0.1);

        .info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 3rem;

            &-b {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                // gap: 1rem;

                .item__lists-tools {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                &-extra {
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;
                    justify-self: flex-start;

                    & ul {
                        align-items: flex-start;

                        li {
                            font-size: 2rem;
                            &::before {
                                content: "\290D";
                                color: $green;

                                @media only screen and (max-width: $bp-smallest) {
                                    display: none;
                                }
                            }
                        }
                    }

                    & h4 {
                        text-align: left;
                    }
                }

                &-tools {
                    & ul {
                        align-items: flex-start;

                        li {
                            font-size: 2.5rem;
                            &::before {
                                content: "\290D";
                                color: $green;

                                @media only screen and (max-width: $bp-smallest) {
                                    display: none;
                                }
                            }
                        }
                    }

                    h4 {
                        display: flex;
                    }
                }
            }
        }
    }
}
.operations__icon.operations__icon--1 {
    @include icon-box-style;
    height: 100%;
}
