.experience {
    @include section-layout;

    & span {
        @include span-style;
    }

    .paragraph {
        @include text-style;
        margin-bottom: 1.5rem;
        max-width: 65rem;
    }

    &__head {
        justify-content: flex-start;
        border-radius: 0.5rem;
        margin-bottom: 3rem;

        &--text {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            font-size: clamp(4rem, 6vw, 4rem);
            white-space: nowrap;
            color: $white;
        }

        &-paragraph {
            font-size: 1.8rem;
            font-weight: 300;
            text-align: justify;
        }
    }
    &__lists {
        color: #fff;

        display: flex;
        flex-direction: column;

        &--topics {
            .btn {
                margin-right: 1rem;

                h3 {
                    color: $green;
                    font-family: $font-robo-mono;
                    font-size: 1.3rem;
                }

                &:hover {
                    cursor: pointer;
                    border: 1px solid $slate;
                    h3 {
                        cursor: pointer;
                        color: $green;
                    }
                }
            }

            .btn-1 {
                margin-right: 1rem;
                border: 1px solid $slate;

                h3 {
                    color: $slate;
                    font-family: $font-robo-mono;
                    font-size: 1.3rem;
                }

                &:hover {
                    cursor: pointer;
                    border: 1px solid $slate;
                    h3 {
                        cursor: pointer;
                        color: $slate;
                    }
                }
            }
        }

        &--details {
            &__icon {
                @include icon-style;
            }
        }
    }

    &__icon-box {
        @include icon-box-style;
        height: 100%;
    }

    &__icon {
        @include icon-style;
        margin: 0;
    }

    @media only screen and (max-width: $bp-smallest) {
        @include mobile-layout;

        .paragraph {
            margin-bottom: 2.5rem;
            font-size: 2rem;
            font-weight: 300;
        }

        &__lists {
            &--topics {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            &--details {
                &__icon {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.operations {
    &__content {
        display: none;
    }

    &__content--active {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 15rem 1fr;
        align-items: center;

        border-radius: 0.5rem;
        background-color: rgba($green, 0.1);

        box-shadow: $shadow-dark;
        max-width: 80%;

        .info {
            @include flex-column-start;
            padding: 0 2rem;

            &-b {
                margin-bottom: 2rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;

                .item__lists-tools {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                &-extra {
                    @include flex-column-start;

                    & ul {
                        @include list-style;
                    }

                    & h4 {
                        @include experience-header-style;
                    }
                }

                &-tools {
                    & ul {
                        @include list-style;
                    }

                    h4 {
                        @include experience-header-style;
                    }
                }
            }
        }

        @media only screen and (max-width: $bp-smallest) {
            display: flex;
            flex-direction: column;
            max-width: 100%;
        }
    }
    @media only screen and (max-width: $bp-smallest) {
        margin: 0;
        padding: 0;
    }
}
.operations__icon.operations__icon--1 {
    @include icon-box-style;
    height: 100%;
}
