.footer {
    width: 99vw;
    grid-column: left-start / right-end;
    grid-row: 4 / 5;
    // background-color: $color-primary;

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;

    .info,
    .github-stats {
        color: rgba($light-slate, 0.6);
    }

    &__box {
        font-family: $font-robo-mono;
        font-size: 1.2rem;
        line-height: 1;

        & a {
            list-style: none;
            text-decoration: none;
        }

        &:hover {
            .info,
            .github-stats {
                color: $green;

                & svg {
                    fill: $green;
                }

                & > span {
                    .icon {
                        fill: $green;
                    }
                }
            }
        }
    }

    .github-stats {
        margin-top: 1rem;

        & > span {
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            margin: 0px 0.7rem;
        }

        & svg {
            display: inline-block;
            margin-right: 0.5rem;
            width: 1.4rem;
            height: 1.4rem;
            fill: rgba($light-slate, 0.6);
        }
    }

    @media only screen and (max-width: $bp-smallest) {
        grid-column: main-start / main-end;
        grid-row: 3 / 4;
    }
}
