.home {
    max-width: 80%;
    min-height: 90vh;
    padding: 0 auto;
    // border: 1px solid $slate;

    -webkit-box-align: center;
    -webkit-box-pack: center;

    display: grid;
    grid-template-columns: minmax(max-content, min-content);
    align-content: center;
    justify-items: start;

    &__start {
        font-size: 1.4rem;
        margin-bottom: $mb-sm;
        font-family: $font-robo;
    }

    &__btn {
        font-size: 1.5rem;
        padding: 1.5rem 2.5rem;
        cursor: pointer;
        font-family: $font-robo;
    }

    margin-bottom: $mb-hg;
}
