.projects {
    @include section-layout;

    & span {
        @include span-style;
    }

    a {
        display: inline-blesock;
        color: inherit;
        text-decoration: none;
        text-decoration-skip-ink: auto;
    }

    &-container {
        max-width: 1000px;
        margin: 50px auto;

        @media only screen and (max-width: $bp-smallest) {
            @include mobile-layout;
            // height: auto;
        }

        & span {
            @include span-style;
        }
    }

    @media only screen and (max-width: $bp-smallest) {
        max-width: 100%;
        width: 100%;
        margin-top: 20rem;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

svg {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.project {
    &__right {
        @include project-alignment;
        margin-bottom: 15rem;

        &-img {
            @include photo-effect;
            border-radius: 2px;
            grid-column: 1 / 8;
            grid-row: 1 / -1;
            box-shadow: $shadow-bot;

            &:hover {
                background: none;
                cursor: pointer;
            }

            @media screen and (max-width: $bp-smallest) {
                height: 95%;
            }
            @include tablet {
                grid-column: 1 / -1;
                opacity: 0.25;
            }

            &:before {
                @include before-effect;
            }

            img {
                border-radius: 2px;
                position: relative;
                mix-blend-mode: multiply;
                filter: grayscale(100%) contrast(1);

                @media screen and (max-width: $bp-small) {
                    object-fit: cover;
                    width: auto;
                    height: 100%;
                }

                &:hover {
                    background: none;
                    cursor: pointer;
                }
            }
        }

        &-container {
            @media only screen and (max-width: $bp-smallest) {
                @include mobile-layout;
            }

            & h2 {
                margin-bottom: 5rem;
            }
        }

        &-label {
            color: #64ffda;
            font-family: $font-robo-mono;
            font-size: 1.2rem;

            display: flex;
            justify-content: flex-end;

            @include tablet {
                justify-content: flex-start;
            }
        }

        &-title {
            font-size: 3rem;
            margin: 1rem 0 1rem;
            padding: 0;
            font-family: $font-robo;
            color: #eee;

            display: flex;
            justify-content: flex-end;
            @include tablet {
                justify-content: flex-start;
            }
        }

        &-links {
            &-icon {
                @include project-icons;
            }
        }

        &-details {
            font-size: 15px;
            line-height: 1.5;
            color: #aaa;

            p {
                border: 1px solid rgba($slate, 0.1);
                background-color: $light-navy;
                padding: 20px 25px;
                box-shadow: $shadow-dark;
                border-radius: 0.3rem;
                font-weight: 300;
                text-align: justify;

                @include tablet {
                    background-color: transparent;
                    padding: 20px;
                }
            }

            ul {
                display: flex;
                margin-top: 20px;
                justify-content: flex-end;

                @include tablet {
                    justify-content: flex-start;
                }

                li {
                    @include ul-style;
                }
            }
        }

        &-content {
            position: relative;
            grid-column: 7 / 13;
            grid-row: 1 / -1;

            @include tablet {
                grid-column: 1 / -1;
                padding: 2rem;
            }
        }

        @media screen and (max-width: $bp-small) {
            align-items: flex-start;
        }
    }

    &__left {
        @include project-alignment;
        margin-bottom: 15rem;

        &-img {
            @include photo-effect;
            border-radius: 2px;
            grid-column: 6 / -1;
            grid-row: 1 / -1;
            box-shadow: $shadow-bot;

            @media screen and (max-width: $bp-small) {
                height: 95%;
            }
            @include tablet {
                grid-column: 1 / -1;
                opacity: 0.25;
            }

            &:before {
                @include before-effect;
            }

            img {
                border-radius: 2px;
                position: relative;
                mix-blend-mode: multiply;
                filter: grayscale(100%) contrast(1);

                @media screen and (max-width: $bp-smallest) {
                    object-fit: cover;
                    width: auto;
                    height: 100%;
                }
            }
        }

        &-container {
            & h2 {
                margin-bottom: 5rem;
            }
        }

        &-label {
            color: #64ffda;
            font-family: $font-robo-mono;
            font-size: 1.2rem;
        }

        &-title {
            font-size: 3rem;
            margin: 1rem 0 1rem;
            padding: 0;
            font-family: $font-robo;
            color: #eee;
        }

        &-links {
            &-icon {
                @include project-icons;
            }
        }

        &-details {
            font-size: 15px;
            line-height: 1.5;
            color: #aaa;

            p {
                border: 1px solid rgba($slate, 0.1);
                background-color: $light-navy;
                padding: 20px 25px;
                box-shadow: $shadow-dark;
                border-radius: 0.3rem;
                font-weight: 300;
                text-align: justify;

                @include tablet {
                    background-color: transparent;
                    padding: 20px;
                }
            }

            ul {
                display: flex;
                margin-top: 20px;

                li {
                    @include ul-style;
                }
            }
        }

        &-content {
            @include project-content;

            @include tablet {
                grid-column: 1 / -1;
                padding: 2rem;
            }
        }

        @media screen and (max-width: $bp-small) {
            align-items: flex-start;
        }
    }

    &-container {
        @media only screen and (max-width: $bp-smallest) {
            @include mobile-layout;
            margin-top: 40rem;
        }
    }
}
