.projects {
    margin-top: 40rem;
}

a {
    display: inline-blesock;
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

svg {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.project-container {
    max-width: 1000px;
    margin: 50px auto;

    & span {
        @include span-style;
    }
}

.project__right {
    @include project-alignment;
    margin-bottom: 15rem;

    &-container {
        & h2 {
            margin-bottom: 5rem;
        }
    }

    &-label {
        color: #64ffda;
        font-family: $font-robo-mono;
        font-size: 1.2rem;

        display: flex;
        justify-content: flex-end;

        @include tablet {
            justify-content: flex-start;
        }
    }

    &-title {
        font-size: 3rem;
        margin: 10px 0 30px;
        font-family: $font-robo;
        color: #eee;

        display: flex;
        justify-content: flex-end;
        @include tablet {
            justify-content: flex-start;
        }
    }

    &-links {
        &-icon {
            width: 2rem;
            height: 2rem;
            fill: $white;
        }
    }

    &-details {
        font-size: 15px;
        line-height: 1.5;
        color: #aaa;

        p {
            border: 1px solid rgba($slate, 0.1);
            background-color: $light-navy;
            padding: 20px 25px;
            box-shadow: $shadow-dark;
            border-radius: 0.3rem;
            font-weight: 300;
            text-align: justify;

            @include tablet {
                background-color: transparent;
                padding: 20px;
            }
        }

        ul {
            display: flex;
            margin-top: 20px;
            justify-content: flex-end;

            @include tablet {
                justify-content: flex-start;
            }

            li {
                margin-right: 20px;
                color: #aaa;
                font-family: $font-robo-mono;
            }
        }
    }

    @media screen and (max-width: 768px) {
        align-items: flex-start;
    }
}

.project__left {
    @include project-alignment;
    margin-bottom: 15rem;

    &-container {
        & h2 {
            margin-bottom: 5rem;
        }
    }

    &-label {
        color: #64ffda;
        font-family: $font-robo-mono;
        font-size: 1.2rem;
    }

    &-title {
        font-size: 3rem;
        margin: 10px 0 30px;
        font-family: $font-robo;
        color: #eee;
    }

    &-links {
        &-icon {
            width: 2rem;
            height: 2rem;
            fill: $white;
        }
    }

    &-details {
        font-size: 15px;
        line-height: 1.5;
        color: #aaa;

        p {
            border: 1px solid rgba($slate, 0.1);
            background-color: $light-navy;
            padding: 20px 25px;
            box-shadow: $shadow-dark;
            border-radius: 0.3rem;
            font-weight: 300;
            text-align: justify;

            @include tablet {
                background-color: transparent;
                padding: 20px;
            }
        }

        ul {
            display: flex;
            margin-top: 20px;

            li {
                margin-right: 20px;
                color: #aaa;
                font-family: $font-robo-mono;
            }
        }
    }

    @media screen and (max-width: 768px) {
        align-items: flex-start;
    }
}

.project__left-content {
    @include project-content;

    @include tablet {
        grid-column: 1 / -1;
        padding: 40px;
    }
}

.project__right-content {
    position: relative;
    grid-column: 7 / 13;
    grid-row: 1 / -1;

    @include tablet {
        grid-column: 1 / -1;
        padding: 40px;
    }
}

.project__right-img {
    @include photo-effect;
    border-radius: 2px;
    grid-column: 1 / 8;
    grid-row: 1 / -1;

    @media screen and (max-width: 768px) {
        height: 100%;
    }
    @include tablet {
        grid-column: 1 / -1;
        opacity: 0.25;
    }

    &:before {
        @include before-effect;
    }

    img {
        border-radius: 2px;
        position: relative;
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(1);

        @media screen and (max-width: 768px) {
            object-fit: cover;
            width: auto;
            height: 100%;
        }
    }
}

.project__left-img {
    @include photo-effect;
    border-radius: 2px;
    grid-column: 6 / -1;
    grid-row: 1 / -1;

    @media screen and (max-width: 768px) {
        height: 100%;
    }
    @include tablet {
        grid-column: 1 / -1;
        opacity: 0.25;
    }

    &:before {
        @include before-effect;
    }

    img {
        border-radius: 2px;
        position: relative;
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(1);

        @media screen and (max-width: 768px) {
            object-fit: cover;
            width: auto;
            height: 100%;
        }
    }
}
